{%extends 'AppPrada/lay_out.html'%}

{% block content %}

    <div class="masthead text-center text-white">
        <div class="container px-5">
            <h1>{{object}}</h1>
            <img src="{{object.imagen.url}}">
            
        </div>
    </div>

    <div class="masthead text-center text-white">
        <div class="container px-5">
            <h2 class="display-5">
                <a class="btn btn-primary" href={%url 'empresas'%}>Volver</a>
            </h2>
        </div>
    </div>






{% endblock content %}