{%extends 'AppPrada/lay_out.html'%}


{% block content %}

<header class="masthead text-right ">
    <p
    <div class="container px-5">
        <a class="btn btn-primary btn-lg rounded-pill mt-5" href={%url 'agregarempresas'%}>Registra tu Empresa!</a>
    </div>
    </p>
</header>

<div class="container">
<table class="table table-striped text-center">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Empresas</th>
      <th scope="col">Email</th>
      <th scope="col">Tamaño del Camión</th>
      <th scope="col">Accion</th>
    </tr>
  </thead>
  <tbody>
    {% for empresas in empresas %}
    <tr>
      <th scope="row">{{ empresas.id}}</th>
      <td>{{empresas.nombre_empresa}} </td>
      <td>{{empresas.email_empresa}}</td>
      <td>{{empresas.tamano_camion}}</td>
      
      <td>
        <a class="btn btn-warning btn-sm" href="{% url 'editarempresas' empresas.id %}">Editar</a>
        <a class="btn btn-danger btn-sm" href="{% url 'eliminarempresas' empresas.id %}">Eliminar</a>
        <a class="btn btn-dark btn-sm" href="{% url 'detalle_empresa' empresas.id %}">Imagen</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock content %}