

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head_block %}
      <title>Incio</title>
    {% endblock head_block %}
    
</head>
<body>
    <nav>
        <a href={% url 'Inicio' %}>Inicio</a>
        <a href={% url 'Clientes' %}>Clientes</a>
        <a href={% url 'Autos' %}>Autos</a>
        <a href={% url 'Viajes' %}>Viajes</a>
        <a href={% url 'Index' %}>Index</a>      
    </nav>

    {% if tiene_mensaje%}

        <h3>{{mensaje}}</h3>

    {%endif%}

    {% block body_block %}
        <h3>Bienvenido</h3>
    {% endblock body_block %}
</body>
</html>