
{% extends 'AppPrada/inicio.html' %}

{% block head_block %} 
   
    <title>Clientes</title> 

{% endblock head_block %}

{% block body_block %}
   
    <h1>Clientes</h1> <a href={% url 'Crear_cliente' %}>Crear Cliente</a>


    <form action={% url 'Clientes' %} method="GET">
        <input type="text" name='numero' placeholder="Numero a buscar..."/>
        <input type="submit" value="Buscar"/>
    </form>

    <ul>
    {% if clientes%}
        {% for cliente in clientes%}
            <li>
                {{cliente}}
            </li>
        {% endfor %}
    {% else %}
        <h3>{{error}}</h3>
    {% endif %}
    </ul>

 {% endblock body_block %}