
{%extends 'AppPrada/lay_out.html'%}

{% block content %}
    <div class="masthead-content text-center">
        <h1 class="display-4">Login</h1>
    </div>  

    
<div class= "container px-5 text-center">



    {% if error %}

        <h1>{{mensaje}}</h1>

    {% endif %}
    <form method="POST">
        {%csrf_token%}
  <div class="form-group">
</div>

<div class= "container text-center">
    <div class="row">
        <table class="table justify-content-center row">
            {{ form }}      
        </table>
    </div>

</div>
    
    <button type="submit" class="btn btn-success ">Ingresar</button>
    <a class="btn btn-success" href={%url 'Register'%}>Registrarse</a>
    <a class="btn btn-primary" href={%url 'Editar'%}>Editar User</a>

   
</form>

{% endblock content %}